allure-pytest
allure-python-commons
attrs
certifi
charset-normalizer
colorama
greenlet
idna
iniconfig
Jinja2
MarkupSafe
packaging
playwright
pluggy
pyee
Pygments
pytest
pytest-base-url
pytest-html
pytest-metadata
pytest-playwright
python-slugify
requests
text-unidecode
typing_extensions
urllib3
